<h2>Lista Piatti</h2>
<ul>
  <li *ngFor="let piatto of piatti">
    {{ piatto.name }} - €{{ piatto.price }}<br>
    <small>{{ piatto.description }}</small>
    <button class="btnDelete" (click)="deletePiatto(piatto.id!)">Elimina</button>
  </li>
</ul>

<h3>Aggiungi un Piatto</h3>
<input [(ngModel)]="nuovoPiatto.name" placeholder="Nome">
<input [(ngModel)]="nuovoPiatto.price" type="number" placeholder="Prezzo">
<input [(ngModel)]="nuovoPiatto.description" placeholder="Descrizione">
<button (click)="addPiatto()">Aggiungi</button>
